aiofiles==24.1.0
asyncpg==0.30.0
boto3==1.37.18
cryptography==44.0.2
docx2txt==0.8
fastapi==0.115.11
langchain==0.3.21
langchain-aws==0.2.17
langchain-community==0.3.20
langchain-core==0.3.47
langchain-huggingface==0.1.2
langchain-mongodb==0.5.0
langchain-ollama==0.3.0
langchain-openai==0.3.9
langchain-text-splitters==0.3.7
langchain-voyageai==0.1.4
Markdown==3.7
networkx==3.4.2
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
pandas==2.2.3
pgvector==0.4.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
pymongo==4.11.3
pypandoc==1.15
pypdf==5.4.0
python-dotenv==1.0.1
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==1.0.2
rapidocr-onnxruntime==1.4.4
sentence_transformers==3.4.1
SQLAlchemy==2.0.39
unstructured==0.17.2
uvicorn==0.34.0
xlrd==2.0.1
