aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
dataclasses-json==0.6.4
dataclasses-json-speakeasy==0.5.11
distro==1.9.0
dnspython==2.6.1
docx2txt==0.8
ecdsa==0.19.0
emoji==2.10.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fastapi==0.110.0
filelock==3.14.0
filetype==1.2.0
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.5.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.6
importlib_metadata==7.1.0
Jinja2==3.1.4
joblib==1.3.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
langchain==0.1.12
langchain-community==0.0.34
langchain-core==0.1.52
langchain-mongodb==0.1.3
langchain-openai==0.0.8
langchain-pinecone==0.1.1
langchain-text-splitters==0.0.2
langdetect==1.0.9
langsmith==0.1.59
lxml==5.1.0
Markdown==3.6
MarkupSafe==2.1.5
marshmallow==3.20.2
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.4
onnxruntime==1.17.3
openai==1.30.1
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
orjson==3.10.3
packaging==23.2
pandas==2.2.1
pgvector==0.2.5
pillow==10.3.0
pinecone-client==3.2.2
protobuf==5.26.1
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyclipper==1.3.0.post5
pydantic==2.7.1
pydantic_core==2.18.2
pymongo==4.6.3
pypandoc==1.13
pypdf==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.2.7
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.6.1
rapidocr-onnxruntime==1.3.17
regex==2023.12.25
requests==2.31.0
rsa==4.9
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentence-transformers==2.5.1
shapely==2.0.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.28
starlette==0.36.3
sympy==1.12
tabulate==0.9.0
tenacity==8.3.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.3.0
tqdm==4.66.2
transformers==4.40.2
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
unstructured==0.12.6
unstructured-client==0.18.0
urllib3==1.26.18
uvicorn==0.28.0
wrapt==1.16.0
yarl==1.9.4
zipp==3.18.2
