langchain==0.1.12
langchain_community==0.0.28
langchain_openai==0.0.8
langchain_core==0.1.32
sqlalchemy==2.0.28
python-dotenv==1.0.1
fastapi==0.110.0
psycopg2-binary==2.9.9
pgvector==0.2.5
uvicorn==0.28.0
pypdf==4.1.0
unstructured==0.12.6
markdown==3.6
networkx==3.2.1
pandas==2.2.1
openpyxl==3.1.2
docx2txt==0.8
pypandoc==1.13
python-jose==3.3.0
asyncpg==0.29.0
python-multipart==0.0.9
sentence_transformers==2.5.1
python-json-logger==2.0.7
aiofiles==23.2.1
