name: Docker Dev Images Build

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - main

jobs:
  build-main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      # Check out the repository
      - name: Checkout
        uses: actions/checkout@v4

      # Set up QEMU
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log in to GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push main Docker image
      - name: Build and push main Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/librechat-rag-api-dev:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/librechat-rag-api-dev:latest
          platforms: linux/amd64
          target: main
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BUILDKIT_INLINE_CACHE=1

  build-lite:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      # Check out the repository
      - name: Checkout
        uses: actions/checkout@v4

      # Set up QEMU
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log in to GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push lite Docker image
      - name: Build and push lite Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.lite
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/librechat-rag-api-dev-lite:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/librechat-rag-api-dev-lite:latest
          platforms: linux/amd64
          target: lite
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BUILDKIT_INLINE_CACHE=1